In [1]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_json('osm/amenities-vancouver.json.gz', lines=True)

In [3]:
df

,lat,lon,timestamp,amenity,name,tags
0,49.260812,-123.125736,2020-03-20T18:22:12.000-07:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ..."
1,49.260953,-123.125704,2019-08-02T18:11:20.000-07:00,fast_food,Salad Loop,{'opening_hours': 'Mo-Fr 07:00-17:00; Sa 10:00...
2,49.373423,-123.291894,2016-10-10T02:14:29.000-07:00,toilets,NaN,{}
3,49.249848,-122.959708,2011-09-06T03:52:10.000-07:00,bbq,NaN,{}
4,49.370898,-123.280448,2015-05-03T00:42:25.000-07:00,place_of_worship,St. Monica's Anglican Church,"{'addr:housenumber': '6404', 'addr:street': 'W..."
...,...,...,...,...,...,...
17713,49.278424,-122.806704,2013-03-26T23:45:49.000-07:00,cafe,Creekside Coffee,{}
17714,49.278770,-122.797628,2013-03-26T23:45:49.000-07:00,restaurant,Togo Sushi,{'cuisine': 'japanese'}
17715,49.276443,-122.790138,2013-03-26T23:45:50.000-07:00,parking,NaN,{}
17716,49.282666,-122.826978,2019-09-13T13:56:49.000-07:00,pub,Brown's Social House,"{'addr:housenumber': '215', 'brewery': 'Guinne..."
17717,49.282420,-122.826340,2019-09-13T13:56:49.000-07:00,cafe,Gallagher's Cafe,"{'addr:housenumber': '232', 'internet_access':..."

In [4]:
food_count = df[(df['amenity'] == 'fast_food') | (df['amenity'] == 'restaurant')].groupby('name').count()

In [5]:
food_count['is_chain'] = (food_count['lat'] > 1)

In [6]:
chain_count = food_count[food_count['is_chain'] == True]

In [7]:
chain_count = chain_count.reset_index()

In [8]:
chain_count

                      name  lat  lon  timestamp  amenity  tags  is_chain
0                      A&W   55   55         55       55    55      True
1                 Al Basha    2    2          2        2     2      True
2                   Arby's    2    2          2        2     2      True
3                Asa Sushi    2    2          2        2     2      True
4              Banana Leaf    4    4          4        4     4      True
..                     ...  ...  ...        ...      ...   ...       ...
262  X-Site Grill & Bistro    2    2          2        2     2      True
263                  Yolks    2    2          2        2     2      True
264  Zaika Tastes of India    2    2          2        2     2      True
265                Zeitoon    2    2          2        2     2      True
266                freshii    2    2          2        2     2      True

[267 rows x 7 columns]

In [9]:
# chain_count['name'] = chain_count['name'].astype('str')

In [10]:
# df.join(chain_count, on='name')

In [11]:
# is_chain = chain_count[]''

In [12]:
is_chain = chain_count[['name','is_chain']]

In [13]:
# chain_count['name'].values

In [14]:
df = df.merge(is_chain, how='outer', on='name')

In [15]:
df

,lat,lon,timestamp,amenity,name,tags,is_chain
0,49.260812,-123.125736,2020-03-20T18:22:12.000-07:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ...",NaN
1,49.212659,-122.919347,2019-07-02T01:10:30.000-07:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ...",NaN
2,49.278119,-122.912285,2020-01-18T09:04:52.000-08:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ...",NaN
3,49.276908,-122.858963,2020-02-12T23:53:44.000-08:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ...",NaN
4,49.040895,-122.269834,2016-08-16T16:50:10.000-07:00,cafe,Starbucks,{'cuisine': 'coffee_shop'},NaN
...,...,...,...,...,...,...,...
17713,49.262659,-123.251745,2019-11-04T20:07:41.000-08:00,cafe,Magma Cafè,"{'wheelchair': 'yes', 'addr:housenumber': '633...",NaN
17714,49.145150,-122.014576,2019-02-24T18:40:19.000-08:00,recycling,Pick-A-Part,"{'recycling_type': 'centre', 'shop': 'car_part...",NaN
17715,49.250408,-123.076261,2017-07-08T05:22:57.000-07:00,restaurant,House of Dosas,"{'addr:housenumber': '1391', 'phone': '+1-604-...",NaN
17716,49.278424,-122.806704,2013-03-26T23:45:49.000-07:00,cafe,Creekside Coffee,{},NaN
17717,49.282420,-122.826340,2019-09-13T13:56:49.000-07:00,cafe,Gallagher's Cafe,"{'addr:housenumber': '232', 'internet_access':...",NaN

In [16]:
df['is_chain'] = (df['is_chain'] == True)

In [17]:
df

,lat,lon,timestamp,amenity,name,tags,is_chain
0,49.260812,-123.125736,2020-03-20T18:22:12.000-07:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ...",False
1,49.212659,-122.919347,2019-07-02T01:10:30.000-07:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ...",False
2,49.278119,-122.912285,2020-01-18T09:04:52.000-08:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ...",False
3,49.276908,-122.858963,2020-02-12T23:53:44.000-08:00,cafe,Starbucks,"{'brand:wikidata': 'Q37158', 'official_name': ...",False
4,49.040895,-122.269834,2016-08-16T16:50:10.000-07:00,cafe,Starbucks,{'cuisine': 'coffee_shop'},False
...,...,...,...,...,...,...,...
17713,49.262659,-123.251745,2019-11-04T20:07:41.000-08:00,cafe,Magma Cafè,"{'wheelchair': 'yes', 'addr:housenumber': '633...",False
17714,49.145150,-122.014576,2019-02-24T18:40:19.000-08:00,recycling,Pick-A-Part,"{'recycling_type': 'centre', 'shop': 'car_part...",False
17715,49.250408,-123.076261,2017-07-08T05:22:57.000-07:00,restaurant,House of Dosas,"{'addr:housenumber': '1391', 'phone': '+1-604-...",False
17716,49.278424,-122.806704,2013-03-26T23:45:49.000-07:00,cafe,Creekside Coffee,{},False
17717,49.282420,-122.826340,2019-09-13T13:56:49.000-07:00,cafe,Gallagher's Cafe,"{'addr:housenumber': '232', 'internet_access':...",False

In [18]:
df[df['is_chain'] == True]

,lat,lon,timestamp,amenity,name,tags,is_chain
217,49.260953,-123.125704,2019-08-02T18:11:20.000-07:00,fast_food,Salad Loop,{'opening_hours': 'Mo-Fr 07:00-17:00; Sa 10:00...,True
218,49.279114,-123.115825,2019-09-03T04:57:07.000-07:00,fast_food,Salad Loop,{},True
9881,49.193580,-123.180788,2019-09-14T05:00:22.000-07:00,cafe,Tim Hortons,"{'brand:wikidata': 'Q175106', 'level': '0', 'b...",True
9882,49.228400,-122.848383,2019-11-20T11:48:37.000-08:00,cafe,Tim Hortons,"{'brand:wikidata': 'Q175106', 'addr:housenumbe...",True
9883,49.212449,-122.919749,2019-07-02T01:10:30.000-07:00,cafe,Tim Hortons,"{'brand:wikidata': 'Q175106', 'website': 'http...",True
...,...,...,...,...,...,...,...
16981,49.279493,-123.114360,2020-01-20T06:49:53.000-08:00,restaurant,Triple O’s,{},True
16995,49.177495,-122.866194,2019-09-13T13:57:05.000-07:00,fast_food,Camy's Pizza,"{'cuisine': 'pizza', 'addr:housenumber': '1284...",True
16996,49.233143,-123.090064,2019-03-19T06:06:11.000-07:00,fast_food,Camy's Pizza,"{'wheelchair': 'yes', 'addr:housenumber': '568...",True
17289,49.216029,-122.589506,2014-11-07T06:05:27.000-08:00,restaurant,Pappa Leo's,"{'cuisine': 'pizza', 'addr:housenumber': '2280...",True
17290,49.236612,-122.852995,2014-11-07T06:05:27.000-08:00,fast_food,Pappa Leo's,"{'cuisine': 'pizza', 'addr:housenumber': '228'...",True